version: '3'

services:
  db:
    image: postgres
  web:
    build: .
    command: sh -c 'python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8000'
    #command: sh -c 'python manage.py runserver 0.0.0.0:8000'
    volumes:
      - .:/code
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8000:8000"
    depends_on:
      - db