@font-face {
  font-family: 'boocity';
  src: url("assets/Boo City.ttf") format('truetype');
}

.App-header h1 {
  margin-top: 1vh;
  margin-bottom: 1vh;
  flex: 30%;
}

.App-header #nav {
  flex: 10%;
  margin: 0px;
  padding: 0px;
}

.App-header h2 {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.App-link {
  color: #09d3ac;
}

#content {
  text-align: center;
}

a {
  color: grey;
  text-decoration: none;
}

h1>a {
  color: rgb(219, 197, 0);
}

h2 {
  font-family: boocity;
  color:#dbc500;
}

a:hover {
  color: rgb(219, 197, 0);
}

a:active {
  color: rgb(219, 197, 0);
}

#nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

ul {
  list-style-type: none;
}

.App-header {
  font-family: boocity;
  background-color: #353535;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: rgb(219, 197, 0);
  padding-left: 15px;
  padding-right: 15px;
}

.codeEditor {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  min-height: 85vh;
  height: 85vh;
}

.codeEditor form {
  position: absolute;
  top: 0;
  right: 50%;
}

.codeEditor .output {
  height: 500px;
  width: 50%;
  color: #dbc500;
  background-color: #353535;
  overflow-y: scroll;
  text-align: left;
  padding: 0 20px;
  margin-left: 5px;
  font-size: 18px;
  height: 100%!important;
}

#editor {
  width: 50% !important;
  padding: 0 20px;
  margin-right: 5px;
  font-size: 18px !important;
  height: 100%!important;
}

.button.play {
  border-style: solid;
  border-width: 37px;
  border-color: transparent transparent transparent rgb(219, 197, 0);
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border-width: 10px 0px 10px 14px;
  background: none;
  cursor: pointer;
}

.background-play {
  display: inline-block;
  background: transparent;
  padding: 8px 1px 11px 16px;
  border-radius: 100%;
  text-align: center;
}

.description {
  color: lightgray;
  font-size: smaller;
}

.description p {
  margin-left: 15%;
  margin-right: 15%;
}

.algoTitle {
  color: white;
}

#root {
  background-color: rgb(88, 88, 88);
}

#content {
  min-height: 100vh;
}

#content ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

#content ul li {
  flex: 100%;
  border: 1px solid#dbc500;
  background: #353535;
  padding: 0 30px 20px 30px;
}

/*.algoInfo {
  color: 
  #cbc500;
}*/
.algoInfo {
  display:flex;
}
.algoInfo .general-info p {
  font-size: 25px;
  font-family: boocity;
}

.general-info {
  flex: 25%;
}

.algoInfo .description {
  flex: 75%;
  font-size: 15px;
}

.algoInfo .description p {
  margin-left: 10%;
  margin-right: 10%;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 4.5em;
  line-height: 1.5em;
  text-align:justify;
}


#login input, #register input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}


#login, #register {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -182px;
  margin-top: -182px;
}

#login form, #register form {
  margin: auto;
  padding: 22px 22px 22px 22px;
  width: 320px;
  border-radius: 5px;
  background: #353535;
  border-top: 3px solid #434a52;
  border-bottom: 3px solid #434a52;
}

#login form input[type="text"], #register form input[type="text"] {
  background-color: #585858;
  border-radius: 0px 3px 3px 0px;
  color: #a9a9a9;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}

#login form input[type="password"], #register form input[type="password"] {
  background-color: #585858;
  border-radius: 0px 3px 3px 0px;
  color: #a9a9a9;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}

#login form button, #register form button {
  background: #dbc500;
  border: 0;
  width: 270px;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-bottom: 1em;
}

#login form button:hover, #register form button:hover {
  background: #f0d800;
}