@font-face {
  font-family: 'boocity';
  src: url("assets/Boo City.ttf") format('truetype');
}

.App-header h1 {
  margin-top: 1vh;
  margin-bottom: 1vh;
  flex: 30%;
}

.App-header #nav {
  flex: 10%;
  margin: 0px;
  padding: 0px;
}

.App-header h2 {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.App-link {
  color: #09d3ac;
}

#content {
  text-align: center;
}

a {
  color: grey;
  text-decoration: none;
}

h1 > a {
  color: rgb(219, 197, 0);
}

a:hover {
  color: rgb(219, 197, 0);
}

a:active {
  color: rgb(219, 197, 0);
}


#nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

ul {
  list-style-type: none;
}


.App-header {
  font-family: boocity;
  background-color: #353535;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  color: rgb(219, 197, 0);
  padding-left: 15px;
  padding-right: 15px;
}
