@font-face {
  font-family: 'boocity';
  src: url("assets/Boo City.ttf") format('truetype');
}

.App-header h1 {
  margin-top: 1vh;
  margin-bottom: 1vh;
  flex: 30%;
}

.App-header #nav {
  flex: 10%;
  margin: 0px;
  padding: 0px;
}

.App-header h2 {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.App-link {
  color: #09d3ac;
}

#content {
  text-align: center;
}

a {
  color: grey;
  text-decoration: none;
}

h1>a {
  color: rgb(219, 197, 0);
}

a:hover {
  color: rgb(219, 197, 0);
}

a:active {
  color: rgb(219, 197, 0);
}

#nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

ul {
  list-style-type: none;
}

.App-header {
  font-family: boocity;
  background-color: #353535;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: rgb(219, 197, 0);
  padding-left: 15px;
  padding-right: 15px;
}

.codeEditor {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  min-height: 85vh;
  height: 85vh;
}

.codeEditor form {
  position: absolute;
  top: 0;
  right: 50%;
}

.codeEditor .output {
  height: 500px;
  width: 50%;
  color: #dbc500;
  background-color: #353535;
  overflow-y: scroll;
  text-align: left;
  padding: 0 20px;
  margin-left: 5px;
  font-size: 18px;
  height: 100%!important;
}

#editor {
  width: 50% !important;
  padding: 0 20px;
  margin-right: 5px;
  font-size: 18px !important;
  height: 100%!important;
}

.button.play {
  border-style: solid;
  border-width: 37px;
  border-color: transparent transparent transparent rgb(219, 197, 0);
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border-width: 10px 0px 10px 14px;
  background: none;
  cursor: pointer;
}

.background-play {
  display: inline-block;
  background: transparent;
  padding: 8px 1px 11px 16px;
  border-radius: 100%;
  text-align: center;
}

.description {
  color: lightgray;
  font-size: smaller;
}

.description p {
  margin-left: 15%;
  margin-right: 15%;
}

.algoTitle {
  color: white;
}

#root {
  background-color: rgb(88, 88, 88);
}

#content {
  min-height: 100vh;
}